* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 15px !important;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

p {
    font-family: "Times New Roman", times, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
}

* {
    color: black;
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    padding: 75px 0;
}